{% extends 'ventas/base.html' %}

{% block content %}
    <h1>¿Eliminar producto de la venta?</h1>
    <form method="POST" class="detalle-form">{% csrf_token %}
        {{ detalle.PRODUCTO.NOMBRE_PROD }} x {{ detalle.CANTIDAD }}<br />
        Monto a pagar: ${{ detalle.TOTAL_DETALLE }}<br/>
        Presione 'aceptar' para eliminar el producto de la lista de venta<br/>
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Aceptar</button>
        <button type="button">Regresar</button>
</form>
    </form>
{% endblock %}