{% extends 'base.html' %}
{% block content %}
<h1><a>Ventas del mes {{ year }}/{{ month }}</a></h1>
{% if ventas %}
    <table class="table-bordered" id="vmes">
        <thead>
            <tr>
                <th>N°</th>
                <th>Fecha</th>
                <th>Monto</th>
                <th>Tipo de pago</th>
                <th>Vendedor</th>
            </tr>
        </thead>
        <tbody>
            {% for venta in ventas %}
            <tr>
                <td>{{ venta.VENTA_ID }}</td>
                <td><a href="{% url 'venta_detail' pk=venta.pk %}">{{ venta.FECHA }}</a></td>
                <td>${{ venta.TOTAL_A_PAGAR }}</td>
                <td>{{ venta.TIPO_PAGO }}</td>
                <td>{{ venta.VENDEDOR }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript">
        $(document).ready( function () {
            $("#vmes").dataTable();
    });
    </script>
{% else %}
    <p>No hay ventas registradas para este periodo de tiempo.</p>
{% endif %}

{% endblock %}