/* Barra de navegación */
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: DarkSlateGray;
  margin-top: -8px;
  margin-right: -8px;
  margin-left: -8px;
  font-family: Arial;
}

nav2 {
  float: left;
}

nav2 a, .dropbtn {
  display: inline-block;
  color: White;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav2 a:hover, .dropdown:hover .dropbtn {
  background-color: Silver;
  color: Black;
}

nav2.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}
/* Fondo */
body {
  background-color: lightblue;
}

h1 {
  color: Black;
  text-align: left;
  font-family: "Ubuntu Light";
}

h2 {
  color: Black;
  text-align: left;
  font-family: "Ubuntu Light";
}

h3 {
  color: Black;
  text-align: left;
  font-family: "Ubuntu Light";
}

h4 {
  color: Black;
  text-align: left;
  font-family: "Ubuntu Light";
}

p {
  font-family: Ubuntu;
  font-size: 15px;
}

/* Pie de página */
footer {
  display: block;
  position: fixed;
  font-family: Ubuntu;
  font-size: 10px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding: 1rem;
  background-color: White;
  text-align: center;
}

/* Enlace a */
a {
  text-decoration: none;
}

/* Botón */

Button {
  font-family: Ubuntu;
  font-size: 15px;
  color: initial;
}

/* Botón a*/
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

/* Tablas */
table, th, td {
  border: 1px solid DarkSlateGray;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: left;
  font-family: Ubuntu;
  font-size: 20x;
}

li {
  font-family: Ubuntu;
}

/* Tabla detalle */
table.tabled, th.tabled, td.tabled {
  border: 0px;
  border-collapse: collapse;
  font-size: 15px;
  font-family: Ubuntu;
}
