{% extends 'base.html' %}

{% block content %}
<h1>Lista de productos disponibles</h1>
<table class="table table-striped table-hover table-sm" id="listprod">
    <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Nombre</th>
            <th scope="col">Formato</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock</th>
            <th scope="col">Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for item in show_id %}
        <tr>
            <td>{{ item.ID_PROD }}</td>
            <td>{{ item.NOMBRE_PROD}}</td>
            <td>{{ item.FORMAT_PROD }}</td>
            <td>{{ item.PRECIO }}</td>
            <td>{% if item.STOCK < 11 %}
                    <rojo>{{ item.STOCK }}</rojo>
                    {% elif item.STOCK > 10 and item.STOCK < 50 %}
                    <naranjo>{{ item.STOCK }}</naranjo>
                    {% else %}
                    <verde>{{ item.STOCK }}</verde>
                    {% endif %}</td>
            <td><a type="button" class="btn btn-warning btn-sm" href="{% url 'producto_delete' pk=item.pk %}">Eliminar</a><a type="button" class="btn btn-secondary btn-sm" href="{% url 'precio_edit' pk=item.pk %}">Editar</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function() {
        $('#listprod').dataTable( {
            language: {
                'url': '//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json'
            }
        } );
    } );
</script>
{% endblock %}